@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli|Open+Sans+Condensed:300&display=swap');
table{
    background-color: #78909c;
    border: 2px solid black;
    padding: 1%;
    
}
table:hover{
    background-color: #fff8e1;

}

h2{
    font-family: 'Muli', sans-serif;
    font-size: 1.05em;
    text-shadow: 1px 2px 3px #283593;
}
 body{
    font-family: 'Open Sans Condensed', sans-serif;
 }

 #presentacion{
     background-color: #ff7043;
     font-size: 0.5em;
 }
#referencia:hover{
    border-left-color: #90a4ae;
    background-color: #283593;
    color: white;
}
#imagenP{
      box-shadow: 0px 2px 2px rgb(20,20,20);
      margin: 5px 5px 5px 2px;
      margin-col
}