$url_fondo : url(http://epicwallpaperz.com/wallpaper-hd/black-abstract-wallpapers-1080p-On-wallpaper-hd.jpg);
$color_white: white ;
$color_black: #212121;
$border: 1px solid black; 
$font_family:  'Lexend Deca', sans-serif;
$tamanio100 : 100%;
